/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.skills,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Main contact button */
.jumbotron .btn {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Supporting skills content */
.skills {
  margin: 3rem 0;
}
.skills p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Customize container */
  .container {
    max-width: 60rem;
  }
  /* Remove the padding we set earlier */
  .header,
  .skills,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

/* DEVICON icons */
.devicon {
  height: 2rem;
}

.devicon path {
  fill: #636c72;
}
a.github:hover .devicon path,
a.keybase:hover .devicon path {
  fill: #24292E;
}
a.twitter:hover .devicon path,
a.linkedin:hover .devicon path {
  fill: #0275d8;
}